.div1{
    margin-top:20px;
    margin-left:60px
}
.div1:hover{
    background: #D8D8D8;
}
.div1:hover img{
    opacity: 0.5;
}
.div2{
    margin-top:20px;
    margin-left: 60px; 
}
.div2:hover{
    background: #D8D8D8;
}
.div2:hover img{
    opacity: 0.5;
}
.div3{
    margin-top:20px;
    margin-left:60px
}
.div3:hover{
    background: #D8D8D8;
}
.div3:hover img{
    opacity: 0.5;
}